@model WebBanHangOnline.Models.OrderView
@{
    ViewBag.Title = "Thanh toán";
}


<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">

<style>
    .error {
        color: red;
    }
</style>
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ hàng</a></li>
                </ul>
            </div>



            <!-- Main Content -->
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <h1>Thanh toán</h1>
                    <p>Bạn hãy kiểm tra lại thông tin đơn hàng cho chính xác</p>
                </div>

            </div>
            <hr />
            @if (ViewBag.CheckCart != null)
            {
                <div class="row">
                    <div id="show_success"></div>
                    <div class="col-md-8">
                    @Html.Action("Partial_CheckOut", "ShoppingCart")
                    </div>
                    <div class="col-md-4">
                        <h3 class="text-left">Giỏ hàng<span></span></h3>
                        <div style="border:1px solid #808080">

                            <table class="table">
                                <thead>
                                    
                                </thead>
                                <tbody id="showdata_checkout">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div>
                    Bạn chưa có sản phẩm nào.Vui lòng quay lại trang<a href="/san-pham">sản phẩm</a>  để mua
                </div>
            }
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>
 <script>
     function OnFailureCO(rs) {
         if (!rs.success) {
             $("#show_success").html("Bạn mua hàng thất bại!Xin vui lòng thử lại ")
         }
     }
     $(document).ready(function () {
     $('#myform').validate({
         rules: {
             'CustomerName': {
                 required: true
             },
             'Phone': {
                 required: true
             },
             'Address': {
                 required: true
             },
             'ZipCode': {
                 required: true
             },
             'Email': {
                 required: true,
                 email: true
             }

         },
         messages: {
             'CustomerName': '* Bạn không để trống trường này',
             'Phone': '* Bạn không để trống trường này',
             'Address': '* Bạn không để trống trường này',
             'ZipCode': '* Bạn không để trống trường này',
             'Email': '* Bạn không để trống trường này',
         }
     })
     })
    </script>


}




